.titulo
{
	text-align: center;
}
.corredor
{
	text-align: center;
	padding: 1%;
}

/*---------------------Estilos pagina de inicio--------------*/

ul
{
	list-style: none;
}

li
{
	margin-bottom: 1%;
}

.textPartida
{
	width: 20%;
}

.cuerpo
{
	padding: 1%;
}

#logo
{
	width: 150px;
	height: 100px;
}

.imgCarrusel
{
	width: 350px;
	height: 300px;
}

/*Estilos carretera*/
.imagenCorredores
{
	width: 40px; 
	height: 40px;
	z-index:2;
}

#circuito
{
	min-height: 50%;
	width: 90%;
	float:right;
}

#botonHistorial
{
	float: left;
	width: 10%;
	min-height: 50%; 
}

.historialBoton
{
	float: left;
	display: inline-block;
}

#finish, #start
{
	height: 30%;
	background-image: url('../img/metas.png');
	border-bottom: 1px solid black ;
}

/*-------------------Calle------------------*/
.calle
{
	width: 100%;
	height: 7%;
	background-image: url('../img/floor.jpg');
}

.botonHistorial, .meta
{
	margin-top: 5%;
	width: 10%;

	display: inline-block;
}

.corredorCalle
{
	width: 80%;
	display: inline-block;
}

.meta
{
	float: right;
	height: 5%;
	padding: 0;
	width: 5%;
	background-image: url('../img/metas.png');
	display: inline-block;
}